<h2>Edit Historical Landmark</h2>

<!-- add content here -->
  <form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="text">Landmark Name: </label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
  <label for="text">Year Completed: </label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">
  <button type="submit">Edit Landmark</button>

</form>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
